.strength-indicator {
  display: flex;
  width: 360px;
  height: 8px;
  justify-content: space-between;
}

.strength-indicator div {
  width: 30%;
  height: 100%;
}

.gray {
  background-color: gray;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}
